#card {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19);
  padding: 10px 25px;
}

#title {
  margin: 0;
}

#title-row {
  margin-bottom: 10px;
  margin-top: 10px;
}

#info-row {
  margin: 10px;
}

#desc-row {
  margin-top: 10px;
}

.smaller-font {
  font-size: smaller;
}
