<div  class="sticky-top">
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #f08e16;">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">JoinHands</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
                <a routerLink="home" 
                class="nav-link active" aria-current="page"routerLinkActive="active">Home</a>
            </li>

            <li class="nav-item">
                <a routerLink="news" 
                class="nav-link active" aria-current="page"routerLinkActive="active">News</a>
            </li>


            <li class="nav-item">
              <a routerLink="Community" 
              class="nav-link active" aria-current="page"routerLinkActive="active">Community</a>
            </li>

            <li class="nav-item">
                <a routerLink="postlist" 
                class="nav-link active" aria-current="page"routerLinkActive="active">Posts</a>
            </li>

            <li class="nav-item">
                <a routerLink="login" 
                class="nav-link active" aria-current="page"routerLinkActive="active">Log In</a>
            </li>
  
  
          </ul>
        </div>
      </div>
    </nav>
    
 
  </div>
  