
<div class="container" style="margin-top:30px ">
    <div class="row">
      <div class="col-sm-4">
        <h2>How can N.C.I help?</h2>
     
        <a href="https://www.cancer.gov/"><img class="fakeimg" src="assets/img/nci-logo-full.svg"/> </a>
        <p>Cancer.gov is the central website for the National Cancer Institute (NCI), the U.S. government’s principal agency for cancer research. NCI is mandated by U.S. law to disseminate information about cancer and cancer research. This website serves as an important means to achieving that mission</p>
        
        <h2>Cancer in Children: MedicinePlus</h2>
     
        <a href="https://www.cancer.gov/"><img class="fakeimg" src="assets/img/CancerinChildren.jpg"/> </a>
        <p>Cancer.gov is the central website for the National Cancer Institute (NCI), the U.S. government’s principal agency for cancer research. NCI is mandated by U.S. law to disseminate information about cancer and cancer research. This website serves as an important means to achieving that mission</p>
        <h3>Some Links</h3>
        <p>Lorem ipsum dolor sit ame.</p>

        
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>National Program of Cancer Registries (NPCR)</h2>
        <h5>Title description, Oct 17, 2021</h5>
        <a href="https://hospitalityinsights.ehl.edu/technology-future-hospitality"><img class="fakeimg" src="assets/img/doctor-couple-750.jpg" width="750"></a>
        <p>Click for more info</p>
        <p>Big changes are certainly on the horizon. Over the next decade we will likely be moving to more automated<br> medical check-ups in order to meet the greater demand on doctors in the wake of staff shortages and <br> stretched budgets. This will become significantly more important as healthcare organisations re-build services <br> around the  Internet of Things (IoT) and AI.</p>
        <br>
        <h2>Everyone's cancer is unique.
            Your support should be too.</h2>
        <h5>Title description, Oct 8, 2021</h5>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/quarantine-isolation.html"><img class="fakeimg" src="assets/img/logo-2021.svg" width="750"></a>
        <p>Visit website for more information on Covid 19</p>
        <p>According to data from Johns Hopkins University, there have been 728,313 Covid-19 deaths in the United States. 
  
            The CDC forecast predicts that there will be 1,600 to 8,700 new confirmed Covid-19 hospital admissions likely reported on Nov. 12.</p>
      </div>
    </div>
  </div>
  
  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div>
  